<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CelestialTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  
  <userSettings>
    <CelestialTools.Properties.Settings>
      <setting name="SightLogLoc" serializeAs="String">
        <value>SightLogs</value>
      </setting>
      <setting name="DeckLogLoc" serializeAs="String">
        <value>DeckLog</value>
      </setting>
      <setting name="DevTblLoc" serializeAs="String">
        <value>DeviationTbl</value>
      </setting>
      <setting name="FavLocsLoc" serializeAs="String">
        <value>FavoriteLocs</value>
      </setting>
      <setting name="UserName" serializeAs="String">
        <value>Your Name </value>
      </setting>
      <setting name="UserSquadron" serializeAs="String">
        <value>Squadron Name</value>
      </setting>
      <setting name="ShipName" serializeAs="String">
        <value>Ship Name</value>
      </setting>
      <setting name="ShipCaptain" serializeAs="String">
        <value>Ship Captain Name</value>
      </setting>
      <setting name="ShipNavigator" serializeAs="String">
        <value>Ship Navigator Name</value>
      </setting>
      <setting name="DeckLogFrom" serializeAs="String">
        <value>Origina Location Name</value>
      </setting>
      <setting name="DeckLogTo" serializeAs="String">
        <value>Destination Location Name</value>
      </setting>
    </CelestialTools.Properties.Settings>
  </userSettings>
</configuration>